[submodule "ip/riscv_jtag_dm"]
	path = ip/riscv_jtag_dm
	url = https://github.com/brabect1/riscv_jtag_dm
[submodule "ip/riscv-dbg"]
	path = ip/riscv-dbg
	url = https://github.com/pulp-platform/riscv-dbg
[submodule "ip/ibex"]
	path = ip/ibex
	url = https://github.com/lowRISC/ibex
